[Desktop Entry]
Name=Thorium
GenericName=Thorium
Comment=Tor Browser is +1 for privacy and −1 for mass surveillance
Exec=AppRun %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thorium
Categories=Network;WebBrowser;Security;
StartupWMClass=Thorium
StartupNotify=true
